<p id="notice"><%= notice %></p>

<h1>Posts</h1>



<br>
<% @comments.each do |comment| %>
<div class="posts">
  <div class="viq">
    <div class="order pcol">
      <p>1</p>
    </div>
  </div>

  <div class="post-content pcol">

    <p class=""><%= comment.content %></p>
    <p>POST TITLE = <%= comment.post.title %></p>
    <p>POST ID = <%= comment.post.id %></p>
    <p>USER ID = <%= comment.post.user.id %></p>
    <p>Comment by: <%= comment.post.user.user_name %></p>

  </div>
</div>
<% end %>
