<p id="notice"><%= notice %></p>

<h1>Posts</h1>



<br>
<% @posts.each do |post| %>
<div class="posts">
  <div class="viq">
    <div class="order pcol">
      <p>1</p>
    </div>

    <div class="votes pcol">

        <% if !user_signed_in? %>

            <%= link_to new_user_session_path do %>
              <%= content_tag :i, "", :class => "arrow fas fa-arrow-circle-up fa-2x" %>
            <% end %>

            <p><%= post.votes.count%></p>

            <%= link_to new_user_session_path do %>
              <%= content_tag :i, "", :class => "arrow fas fa-arrow-circle-down fa-2x" %>
            <% end %>

        <% else %>

            <% if post.votes.where(user_id: current_user.id, selected: 1).any? %>
              <i class="arrow fas fa-arrow-circle-up fa-2x cant_vote_up"></i>
            <% else %>
              <%= render '/votes/up_vote', post: post, vote: Vote.new %>
            <% end %>

            <p><%= post.votes.count%></p>

            <% if post.votes.where(user_id: current_user.id, selected: 0).any? %>
              <i class="arrow fas fa-arrow-circle-down fa-2x cant_vote_down"></i>
            <% else %>
              <%= render '/votes/down_vote', post: post, vote: Vote.new %>
            <% end %>

        <% end %>

    </div>








    <div class="post-image pcol">
      <img class="square-img" src="<%= image_url('user_place.jpg')%>">
    </div>
  </div>

  <div class="post-content pcol">

      <h1 class=""><%= link_to post.title, post, class: "my_link_to" %></h1>



    <div class="post_body_content pcol">
      <% if post.body.length > 100 %>
        <p><%= post.body.truncate(100) %></p>
      <%else%>
        <p><%= post.body %></p>
      <%end%>
    </div>




  <!-- <p> ddddddddddddddd <%= post.comment_count%> </p> -->



    <div class="post-attributes">
      <div class="post_by">
        <p>Posted by - <%= post.user.user_name %></p>
      </div>
      <div class="post-list-attributes">
        <%= link_to post.comment_count, post, class: "my_link_to" %>
        <a href="">Share</a>
        <a href="">Save</a>
        <a href="">Hide</a>
        <a href="">Report</a>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<%else%>
  <%= link_to "Sign In", new_user_session_path  %>
<% end %>
