<p id="notice"><%= notice %></p>

<h1>Posts</h1>



<br>
<% @posts.each do |post| %>
<div class="posts">
  <div class="viq">
    <div class="order pcol">
      <p>1</p>
    </div>

    <div class="votes pcol">
      <img class ="arrow" src="img/up.png">
      <p>4556</p>
      <img class ="arrow" src="img/down.png">
    </div>

    <div class="post-image pcol">
      <img class="square-img" src="<%= image_url('user_place.jpg')%>">
    </div>
  </div>

  <div class="post-content pcol">
    <h1 class=""><%= link_to post.title, post %></h1>
    <p class=""><%= post.body %></p>
    <div class="post-attributes">
      <div class="post_by">
        <p>Posted by - <%= post.user.user_name %></p>
      </div>
      <div class="post-list-attributes">
        <a href="">Comments(<%= post.comment_count %>)</a>
        <a href="">Share</a>
        <a href="">Save</a>
        <a href="">Hide</a>
        <a href="">Report</a>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= link_to 'New Post', new_post_path %>
