<p id="notice"><%= notice %></p>

<div class="page_post">

  <div class="page_post_top_content pcol">
     <div class="page_vote_title">
        <div class="votes pcol">





          <% if !user_signed_in? %>

              <%= link_to new_user_session_path do %>
                <%= content_tag :i, "", :class => "arrow fas fa-arrow-circle-up fa-2x" %>
              <% end %>

              <p><%= @post.counting_votes%></p>

              <%= link_to new_user_session_path do %>
                <%= content_tag :i, "", :class => "arrow fas fa-arrow-circle-down fa-2x" %>
              <% end %>


          <% else %>

              <% if @post.votes.where(user_id: current_user.id, selected: 1).any? %>
                <i class="arrow fas fa-arrow-circle-up fa-2x cant_vote_up"></i>
              <% else %>
                <%= render '/votes/up_vote', post: @post, vote: @vote %>
              <% end %>

              <p><%= @post.counting_votes%></p>

              <% if @post.votes.where(user_id: current_user.id, selected: 0).any? %>
                <i class="arrow fas fa-arrow-circle-down fa-2x cant_vote_down"></i>
              <% else %>
                <%= render '/votes/down_vote', post: @post, vote: @vote %>
              <% end %>

          <% end %>



        </div>

        <div class="page_post_body_content pcol">

            <h1 class="no_margin"> <%= @post.title %> </h1>
            <p class="no_margin">
            <strong>Posted by:</strong>
            <%= @post.user.user_name %><br>
          </p>
        </div>
      </div>

      <div class="">
        <!-- <div class="page_post_body_text"> -->
        <p>
          <strong>Body:</strong>

            <%= @post.body.html_safe %><br>

        </p>
      </div>

   </div>


   <p>
     <strong><%= @post.type_count('comments')%></strong>
   </p>
   <br>



    <%= render '/comments/form', post: ([@post, @comment]) %>
    <!-- the post: above is a variable that holds post and comments -->
   <div class="page_post_all_comments">
    <p>

      <% @post.comments.each do |comment| %>
         <strong><%= comment.user.user_name %></strong>:
         <%= comment.content %><br>
      <%end%>
    </p>
  </div>

  <p><strong><%= @post.type_count('votes')%></strong></p><br>

  <% @post.counting_votes%>


  <% if !user_signed_in? %>
     <p><%= link_to "Sign In To Vote", new_user_session_path  %></p>
  <% else %>
    <% if current_user.id == @post.votes.where(user_id: current_user.id) %>

    <%end%>
  <% end %>


  <br>

  <h2>current post = <%= @post.id%></h2>


  <%= link_to 'Back', posts_path %>
  <%if user_signed_in? && @post.user.id == current_user.id %>
    <%= link_to 'Edit', edit_post_path(@post) %>
  <%end%>
  <% if user_signed_in? %>
    <%= link_to 'New Post', new_post_path %>
  <%end%>



</div>
