<p id="notice"><%= notice %></p>
<p>POST ID = <%= @post.id %> (JUST FOR TESTING)</p>

  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<%= @post.comment_count %>
<p>
  <strong>Posted by:</strong>
  <%= @post.user.user_name %>
</p>
<%= @post.something %>
<p>
  <%= link_to 'New Comment', '/comments/new' %>
  <strong>Comments (<%= @post.comments.count%>)</strong>
  <% @post.comments.each do |comment| %>
     <p><%= comment.content %></p>
  <%end%>
</p>

<!-- adding comment form -->
<!-- bellow code can now access the comments variable inside the post controller -->
<!-- <% @comments.each do |comment| %>
   <p><%= comment.content %></p>
<%end%> -->

<h3><%= link_to 'THIS ONE', 'comments/new' %></h3>

<%= link_to 'test link index', 'comments#index' %>

<%= link_to 'comments', 'comments/new' %>


<%= link_to 'New Post', new_post_path %>


<%= link_to 'Back', posts_path %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
