<%= form_for([post, vote]) do |f| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :selected, value: 0 %>


  <!-- <div class="actions"> -->
  <%= f.button :submit, :class => "vote_button"  do %>
    <i class="arrow fas fa-arrow-circle-down fa-2x"></i>
  <% end %>

  <!-- </div> -->

<% end %>
