<h1>hello</h1>

<p> Post Id =  <%= params[:post_id]%> </p>

<br>
<% @votes.each do |vote| %>
<div class="posts">
  <div class="viq">
    <div class="order pcol">
      <p>1</p>
    </div>

    <div class="votes pcol">
      <img class ="arrow" src="img/up.png">
      <p>4556</p>
      <img class ="arrow" src="img/down.png">
    </div>

    <div class="post-image pcol">
      <img class="square-img" src="<%= image_url('user_place.jpg')%>">
    </div>
  </div>

  <div class="post-content pcol">

    <p class=""><%= vote.answer %></p>
    <div class="post-attributes">
      <div class="post_by">
        <p>Voted by - <%= vote.user.user_name %></p><br>
        <p>Vote belongs to post id: <%= vote.post_id %></p><br>

      </div>

    </div>
  </div>
</div>
<% end %>
