<!DOCTYPE html>
<html>
  <head>
    <title>WriteItProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="content-wrap">

      <header class="main-header ">

        <div class="top-nav">
          <img src="<%= image_url('logo3.png')%>" alt="Logo" class="logo">
          <nav class="main-nav head-col">
            <!-- <a class="main-nav__link" href="#">Login</a>
            <a class="main-nav__link" href="#">Sign up</a> -->
            <%= render 'home/nav_signin_form'%>
          </nav>
        </div>

        <div class="secondary-nav head-col" id="myTopnav">
          <!-- Bellow would be the active page -->
          <a class="main-nav__link2" href="#">All</a>
          <a class="main-nav__link2" href="#">Popular</a>
          <a class="main-nav__link2" href="#">Random</a>
          <a class="main-nav__link2" href="#">Popular</a>
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

      </header>

      <script>
      function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "secondary-nav") {
              x.className += " responsive";
          } else {
              x.className = "secondary-nav";
          }
      }
      </script>

      <!-- <section class="second box">

      </section> -->

      <section class="main-content box ">

        <div class="primary-content box sec">


          <%= yield %>


        </div>

        <div class="side-bar box sec">
          <div class="side-bar-inner">

            <%= render 'home/signin_form'%>

            <div>
               <hr>
               <h3>Top Catogories</h3>
               <ul>
                  <li>Funny</li>
                  <li>Top Trending</li>
                  <li>Dirty</li>
                </ul>
            </div>
          </div>
        </div>


      </section>


    </div>

    <footer class="main-footer">
      <div>

      </div>
      <div class="footer-inner">
        <span>&copy;2018 Write it</span>
      </div>
      <div>

      </div>
    </footer>

  </body>
</html>
